.popup__info_type_error::before {
  content: "";
  background: url("../../../../images/page/popup/popup__icon_type_success.svg")
    center/cover no-repeat;
  min-width: 120px;
  min-height: 120px;
  width: 100%;
  height: 100%;
}
