.form__input {
    font-size: 14px;
    line-height: calc(17 / 14 * 100%);
    font-weight: 400;
    box-sizing: border-box;
    display: flex;
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    outline: 0;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #000;
    padding: 0 0 10px 0;
    margin: 0;
}

.form__input_sign-up {
    background: black;
    border-bottom:  1px solid #ccc;
    color: #ccc;
}

.form__input_popup-form {

}